* {
    box-sizing: border-box;
}
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
}
  
  .nav {
    height: 60px;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 11;

    .nav-header {
        display: inline;

        img{
            height: 60px;
        }
    }

    button{
        color:black;
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: inline;
        float: right;
        font-size: 18px;

        form {
            display: inline-block;
        }

        a {
            color: white;
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
        }

        a:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    #nav-check {
        display: none;
    }
}
  
@media (max-width:600px) {

    .nav{
        .nav-btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;

            label {
                display: inline-block;
                width: 50px;
                height: 50px;
                padding: 13px;

                span {
                    display: block;
                    width: 25px;
                    height: 10px;
                    border-top: 2px solid #eee;
                }
            }

            label:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
        .nav-links {
            position: absolute;
            display: block;
            width: 100%;
            background: rgba(255, 255, 255, 0.7);
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: 0px;

            a {
                display: block;
                width: 100%;
            }
        }
        #nav-check:not(:checked) + .nav-links {
            height: 0px;
        }
        #nav-check:checked + .nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    }
}