<nav class="nav">
  <div class="nav-header">
    <a routerLink="">
      <img src="../../assets/LogoT_W.png">
    </a>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">

    <div *ngIf="!connect">
      <a (click)="displayLogin()">Se connecter</a>
    </div>

    <div *ngIf="!user.logged && connect">
      <form (ngSubmit)="onSubmit()">
          <input type="text" placeholder="username" name="name" [(ngModel)]="user.name">
          <input type="password" placeholder="password" name="password" [(ngModel)]="user.password">
        <button type="submit">CONNECT</button>
      </form>
    </div>
  
    <div *ngIf="user.logged && connect">
      Bonjour, <a routerLink="profile"><b>{{authService.check.name}}</b></a>
      <a (click)="disconnect()">DISCONNECT</a>
    </div>
  </div>
</nav>