body {
  background-color: rgb(200, 200, 200);
 background-size: cover;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profileImg {
  margin-left: 78%;
  opacity: 1;
  min-width: 100px;
  max-width: 100%;
}

img {
  width: 40%;
  opacity: 1;
  min-width: 25px;
}

.element {
  width: 50%;
  background: #F4FEFE;
  border-radius: 5px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;

}

mat-form-field {
  margin: 1%;
  padding-top: 1%;
}

.header-profile {
  padding-bottom: 10px;
  padding-top: 60px;
}

.header-profile h1 {
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
  opacity: 1;
}

.header-profile p {
  color: gray;
  text-decoration: underline;
  margin-left: 2%;
  font-family: 'Open Sans', sans-serif;
  opacity: 1;
}

.header-profile a {
  color: black;
  margin-left: 80%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  opacity: 1;
}

.describe-profile {
  margin-right: 5%;
  margin-left: 5%;
}

.describe-profile h3 {
  text-decoration: none;
  margin-left: 2%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}