<html>
<body>
  <div class="page">
    <div class="header-profile">
      <p>Please update your awesome Profile</p>
      <div class="profileImg">
        <img src="../../assets/user-icon.png" alt=""> <br>
      </div>
        <a style="cursor: pointer;">Upload</a>
      <br>
      <div class="">
        <form class="container" (ngSubmit)="onSubmit()">
          <mat-form-field class="element">
            <input matInput placeholder="Username" name="username" [(ngModel)]="user.name">
          </mat-form-field>
          <mat-form-field class="element">
            <input matInput placeholder="First Name" name="firstname" [(ngModel)]="user.firstname">
          </mat-form-field>
          <mat-form-field class="element">
            <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="user.lastname">
          </mat-form-field>
          <mat-form-field class="element">
            <input matInput placeholder="Email" name="mail" [(ngModel)]="user.mail">
          </mat-form-field>
          <mat-form-field class="element">
            <input matInput placeholder="Phone-Number" name="phone" [(ngModel)]="user.phone">
          </mat-form-field>
          <mat-form-field class="element">
            <textarea matInput placeholder="Describe yourself" name="description" [(ngModel)]="user.description"></textarea>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</body>
</html>