html{
    height: 100%;
}

.container{
    justify-content: center;
    align-items: center;
    height: calc(100% - 0px);
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.section1{
    height: calc(100% - 100px);
    padding: 5px;
    left: 0; right: 0; bottom: 0%;top: 0%;
    text-align: center;
    background: url('/assets/stefan-stefancik-257625.jpg') no-repeat center center fixed;
    background-size: cover;
}
.zoneBlur{
    display: flex;
    width: 70%;
    background: rgba($color: white, $alpha: 0.6);
    height: 60%;
    align-items: center;
    flex-direction: column;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
}
 b{
    font-weight: Bold;
}
.zoneBlur .title{
    font-size: 4vw;
    padding-top: 4%;
}
.zoneBlur .lorem{
    font-size: 2vw;
    margin-top: 3%;
}
.transformation{
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.section2{
    height: calc(100% -100px);
    left: 0; right: 0; bottom: 0%;top: 0%;
    text-align: center;
    background-color: white;
    background-size: cover;
    color: #454545;

}
 h1{  
    font-size: 2vw;
    text-align: center;
    justify-content: center;
}
.block div{
    font-size: 1vw;
    text-align: center;
}

.block{
    display: flex;
    justify-content: space-around;
    color: #454545;

}

.flexbox{
    padding: 5%;
}
.flexbox h3{
    margin-top: 8%;
    margin-bottom: 7%;
}

.flexbox img{
    width: 60px;
    margin-top: 20px;
}
.flexbox p{
    font-size: 1vw;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #004464;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in3 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #ffa100;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.hexagon-in4 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #ed3d4a;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2:hover {
    background-image: url(http://placekitten.com/241/241);
    }

.hexagon1 {
    width: 200px;
    height: 100px;
    margin: 0 0 0 -80px;
    }


.bleu{
    background-color: #004464;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    width: 70%;
    border-radius: 15px;
    border-style: none;
    margin-top: 20px;
}
.jaune{
    background-color: #ffa100;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    width: 70%;
    border-radius: 15px;
    border-style: none;
    margin-top: 20px;
}
.rouge{
    background-color: #ed3d4a;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    width: 70%;
    border-radius: 15px;
    border-style: none;
    margin-top: 20px;
}

.section3{
    height: 70%;
    padding: 5px;
    left: 0; right: 0; bottom: 0%;top: 0%;
    font-size: 3em;
    text-align: center;
    background: url('/assets/StockSnap_2XCM40KGL8.jpg') no-repeat center center fixed;
    background-size: cover;
}

.zoneBlur2{
    display: flex;
    width: 90%;
    background: rgba($color: white, $alpha: 0.6);
    height: 90%;
    flex-direction: column;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
}

.hexagonAlign{
    display: flex;
    justify-content: space-around;
}

.hexagon2 {
    width: 300px;
    height: 150px;
    margin: 0 0 0 -80px;
    }

.texte{
    margin-top: 15%;
}

.element p{
    color: white;
    padding-top: 5%;
}
.section4{
    height: 50%;
    background-color: white;
    color: #454545;
}

.footer{
    height: 30%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titre{
    margin-top : 3%;
    margin-bottom: 5%;
}
.taille{
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    margin-bottom: -9%;
}
.retourLigne{
    font-size: 2vw;
    padding: 10%;
}
.flexChan{
    display: flex;
    justify-content: space-around;
}
.contact{
    justify-content: space-around;
    font-size: 1vw;
    text-align: center;
}
.teletech{
    text-align: center;
    font-size: 1.5vw;
    color: #6e6e6e;
}
.logo {
    height: 60%;
    display: flex;
    justify-content: center;
}
.logo img{
    margin-right: 2%;
    margin-left: 2%;
    height: 60%;
}